################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleFestas/.vs/ControleFestas/FileContentIndex/0fd43a3c-ceff-473f-a162-8ec7286f0809.vsidx
