################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleFestas/.vs/ControleFestas/FileContentIndex/0fd43a3c-ceff-473f-a162-8ec7286f0809.vsidx
/ControleFestas/.vs/ControleFestas/FileContentIndex/5514edac-fc51-42a8-84bd-308738ad9a52.vsidx
/ControleFestas/.vs/ControleFestas/FileContentIndex
